
@import url('https://fonts.googleapis.com/css?family=Lobster|Oswald&display=swap&subset=cyrillic');

body{
  background:#F8EA8C;
}
h1{
  color:red;
}

header{
font-family: 'Oswald'}

body{
font-family: 'Lobster'}